@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12" id="data">
           <center id="loader">
               <img src="~/assets/img/_loading.gif" height="100" width="100"/>
           </center>
        </div>
    </div>
</div>

<script>

    $.ajax({
        url: "@Url.Content("~/CaseReports/ajaxPaymentsToBeneficiaries/")@ViewBag.case_report_id",
        success: function (data) {
            $("#loader").hide();
            $("#data").html(data);
        },
        error: function () {
            alert("Server Error");
            $("#loader").hide();
        },
    });
 
</script>